<div class="container">
  <h1>Payment Form</h1>
  <div class="columns">
    <div class="column is-6">
      <div class="card">
        <div class="field">
          <label class="label">Reciver Name</label>
          <div class="control">
            <input class="input" (input)="onChangeName($event.target.value)" type="text" placeholder="Text input" />
          </div>
        </div>
        <div class="field">
          <label class="label">Recived Date</label>
          <div class="control">
            <input class="input" (input)="onChangeDate($event.target.value)" type="date" placeholder="Date" />
          </div>
        </div>
        <div class="field">
          <label class="label">Amount</label>
          <div class="control">
            <input class="input" (input)="onChangeName($event.target.value)" type="text" placeholder="Text input" />
          </div>
        </div>
      </div>
    </div>

   
    <div class="column is-6">
      <div class="card">
          <label class="label">Receiver Name</label>
          <p>{{ name| titlecase }}</p>
        </div>
      </div>
  </div>
</div>
