<div class="container">
  <h1>Payment Form</h1>
  <div class="columns">
    <div class="column is-6">
      <div class="card">
        <div class="field">
          <label class="label">Reciver Name</label>
          <div class="control">
            <input class="input" (input)="onChangeName($event.target.value)" type="text" placeholder="Please Enter Name" />
          </div>
        </div>
        <div class="field">
          <label class="label">Recived Date</label>
          <div class="control">
            <input class="input" (input)="onChangeDate($event.target.value)" type="date" placeholder="Date" />
          </div>
        </div>
        <div class="field">
          <label class="label">Amount</label>
          <div class="control">
            <input class="input" (input)="onchangeAmount($event.target.value)" type="number" placeholder="Number" />
          </div>
        </div>
         <div class="field">
          <label class="label">Miles</label>
          <div class="control">
            <input class="input" (input)="onchangeMiles($event.target.value)" type="number" placeholder="Please Enter Above 10 " />
          </div>
        </div>
      </div>
    </div>

    
   
    <div class="column is-6">
      <div class="card">
          <label class="label">Receiver Name</label> 
          <p>{{ name| titlecase }}</p>
        </div>
          <div class="card">
          <label class="label">Received Date</label> 
          <p>{{ date | date: 'MMMM d, y' }}</p>
        </div>
          <div class="card">
          <label class="label">Amount</label> 
          <p>{{ amount | currency: "INR"  }}</p>
        </div>
         <div class="card">
          <label class="label">Kilometers</label> 
          <p *ngIf="miles > 10">{{ miles | convert : 'km' | number: '1.0-2'}}</p>
        </div>
      </div>
    
  </div>
</div>
