<div class="columns">
  <div class="column is-6">
    <article class="message is-link">
      <div class="message-header">
        <p>Github Finder</p>
      </div>
      <div class="message-body">
        <div class="field">
          <label class="label">Country Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              #txtField
              placeholder="Please Enter Name"
            />
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
