<div class="columns ">
  <div class="column">
    <article class="tile is-child box">
      <p class="title has-text-centered">@Output</p>
      <p class="subtitle has-text-centered">Current counter: <span [class]="classToSet">{{counter}}</span></p>
    </article>
  </div>
</div>

<!-- Child -->
<div class="container">
  <app-card
    *ngFor="let post of posts"
    [title]="post.title"
    [imageUrl]="post.imageUrl"
    [username]="post.username"
    [content]="post.content"
    (counterChange)="onCounterChange($event)"
  >
  </app-card>
</div>
 
<router-outlet></router-outlet>
