<app-header></app-header>
<div class="columns">
  <div class="column is-one-quarter">
    <app-side-nav></app-side-nav>
  </div>
  <app-main></app-main>
</div>

<!-- View Child -->
<!-- <div class="column is-8">
  <article class="message is-danger">
    <div class="message-header">
      <p>View Child</p>
    </div>
    <div class="message-body">
      <div class="card">
        <div class="card-content">
          <app-institute></app-institute>
        </div>
      </div>
    </div>
  </article>
</div> -->

<!--  View Children -->

<!-- <div class="column is-4">
  <article class="message is-link">
    <div class="message-header">
      <p>View Children</p>
    </div>
     <div class="message-body">
      <div class="card">
        <div class="card-content">
          <app-company></app-company>
        </div>
      </div>
    </div>
  </article>
</div> -->

<!-- Copy all code form main components -->
<app-footer></app-footer>
