<div class="card">
  <div class="card-content">
    <p>Welcome</p>
    <p>What would you like to do?</p>

    <div class="content">
      <button class="button is-fullwidth is-link mt-2">Button 1</button>
      <button class="button is-fullwidth is-primary mt-2">Button 2</button>
      <button class="button is-fullwidth is-warning mt-2">Button 3</button>
      <button class="button is-fullwidth is-info mt-2">Button 4</button>
      <button class="button is-fullwidth is-dark mt-2">Button 5</button>
      <button class="button is-fullwidth is-light mt-2">Button 6</button>
      <button class="button is-fullwidth is-success mt-2" routerLink="/basic">
        Data Change
      </button>
      <button class="button is-fullwidth is-danger mt-2" routerLink="/404">
        Page Not Found
      </button>
    </div>
  </div>
</div>

<!-- <article class="panel is-link">
  <p class="panel-heading">Sidebar</p>
  <p class="panel-tabs">
    <a class="is-active">All</a>
    <a>Public</a>
    <a>Private</a>
    <a>Sources</a>
    <a>Forks</a>
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-primary" type="text" placeholder="Search" />
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    bulma
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    marksheet
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    minireset.css
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    jgthms.github.io
  </a>
   
  <button class="button is-fullwidth is-primary" routerLink="/basic">
    <i class="fas fa-dev" aria-hidden="true"></i>
     Data Change
  </button>
</article> -->

<!-- <button class="button is-fullwidth is-danger" routerLink="/404">
  Page Not Found
</button> -->
