<footer class="footer has-background-black mg-top">
    <p class="content has-text-centered has-text-primary-light">
      Copyright &copy; 2021 By <a href="https://github.com/Ganeshk750">Ganesh Kumar</a>
      <br>
      <!-- hitwebcounter Code START -->
    <a href="https://www.hitwebcounter.com" target="_blank">
    <img src="https://hitwebcounter.com/counter/counter.php?page=7766074&style=0010&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>    
    </p>

    
</footer>